<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>
<div class="text-center">
  <a href="/">Home</a> |
  <a href="/products">Prodcuts</a> |
  <a href="/customers">Customer</a>
</div>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
